@use '../../utils/style/variables.scss' as *;
@use '../../utils/style/mixin.scss' as *;

.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 0 24px;
  box-sizing: border-box;
  background-color: $main-background-color;
  padding: 8px 12px;
}

.input {
  @include input;
}

.button {
  @include button;
}
