@use '../utils/style/variables.scss' as *;

.section{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.list {
  flex: 1 0 auto;
  border-left: 2px solid $main-background-color;
  border-right: 2px solid $main-background-color;
}