@use '../../utils/style/mixin.scss' as *;
@use '../../utils/style/variables.scss' as *;

.header{
  background-color: $main-background-color;
  padding: 8px;
  display: flex;
  justify-content: end;
}

.button {
  @include button;
  padding: 4px;
}