@use './variables.scss' as *;

@mixin input {
  background-color: $accent-background-color;
  border-radius: 8px;
  color: $main-color-text;
  padding: 4px;

  &::placeholder {
    color: $main-color-text;
  }
}

@mixin button {
  background-color: $accent-background-color;
  border-radius: 8px;
  color: $main-color-text;
  padding: 4px;

  &:hover{
    cursor: pointer;
  }
}

@mixin ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}